@import "bootstrap/dist/css/bootstrap.min.css";

.video-player {
    /* Sizing is handled by main.js optimizeSize() */
    background: #000;
    margin: 2px;
    display: block;
    overflow: hidden;
}

#video-container {

}

#chat-container {

}

.tab-pane, .tab-content {
    height: 100%;
}

.nav-tabs .nav-link {
    border-radius: 0;
}

iframe {
    border: none;
}