@import "bootstrap/dist/css/bootstrap.min.css";

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Noto Sans, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: #181821 !important;
    color: #fff !important;
}

.navbar-brand {
    font-size: .875em !important;
}

.nav-link {
    font-size: .875em !important;
    text-decoration: none !important;
    color: #8c8dff !important;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: underline !important;
    color: #a0a1ff !important;
}

a {
    text-decoration: none !important;
    color: #8c8dff !important;
}

a:hover,
a:focus {
    text-decoration: underline !important;
    color: #a0a1ff !important;
}

.video-player {
    display: block;
    overflow: hidden;
}

.active-stream {
    outline: 4px solid #9146ff !important;
    outline-offset: -4px;
    z-index: 1;
}

nav.bg-dark, footer.bg-dark, .modal .bg-dark {
    background-color: #181821 !important;
}

.nav-tabs .nav-link.active {
    background-color: #9146ff !important;
    color: #fff !important;
}

.muted {
    color: #606085 !important;
}

.btn-purple,
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active {
    background-color: #9146ff;
    border-color: #523c7c;
}

#chat-container {
    min-width: 340px;
    flex-grow: 1;
    background-color: #292938 !important;
}

.tab-pane,
.tab-content {
    height: 100%;
}

iframe {
    border: none;
}

.draggable-item {
    cursor: grab;
}

.draggable-item.dragging {
    opacity: 0.5;
}